body {
    font-family: Roboto Slab, Serif;
    margin: 0;
    background: #fafafa;
    color: #757575;
}

a {
    color: #673ab7;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: Roboto, Sans-Serif;
}

section {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
}

.center {
    margin: 20px auto;
    width: 960px;
    overflow: hidden;
}

.header {
    background: #673ab7;
    color: #fafafa;
}

.intro {
    background: #eeeeee;
    color: #757575;
}

.contact, .summary {
    display: inline-block;
    width: 50%;
}

.summary {
    float: right;
}

.lead {
    font-size: 14pt;
    text-align: justify;
}

.pdesc, .pprops {
    display: inline-block;
}

.pdesc {
    width: 80%;
    text-align: justify;
}

.pprops {
    width: 15%;    
    float: right;

    margin-top: 16px;
}

.pprops p {
    margin: 0 0 4px 0;
}

.label {
    font-size: 10pt;
    font-family: Roboto, Sans-Serif;
    text-transform: uppercase;
    background-color: #eeeeee;
    padding: 1px;
}

table {
    margin: 16px 0;
}

td {
    padding: 0 10px 0 0;
}

h1 {
    font-weight: 100;
    font-size: 36pt;
}

h1 > small {
    font-style: italic;
}

h4 {
    font-weight: 300;
    font-size: 16pt;
}

h5 {
    text-transform: uppercase;
}
