body {
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;

    font-family: Roboto Slab, Serif;
    margin: 0;
    background: #fafafa;
    color: #757575;
    text-align: justify;
}

a {
    color: #673ab7;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: Roboto, Sans-Serif;
}

.content {
    width: 100%;
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
}

.center {
    margin: auto;
    width: 880px;
    overflow: hidden;
}

.header {
    padding: 20px 0px;
    background: #673ab7;
    color: #fafafa;
}

.intro {
    background: #eeeeee;
    color: #757575;
}

.article {
    margin: 20px auto;
}

.summary {
    float: right;
}

.lead {
    font-size: 14pt;
}

.label {
    font-size: 10pt;
    font-family: Roboto, Sans-Serif;
    text-transform: uppercase;
    background-color: #eeeeee;
    padding: 1px;
}

h1 {
    font-weight: 100;
    font-size: 36pt;
}

h2 > small {
    font-style: italic;
}

h4 {
    font-weight: 300;
    font-size: 16pt;
}

h5 {
    text-transform: uppercase;
}

svg {
    fill: #858585;
    height: 24px;
    display: inline;
    vertical-align: middle;
}
